body{
  background-color: #fff;
  font-family: Roboto, sans-serif;
}
.content-wrapper{
  overflow: hidden;
  width: 100%;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
}
 .map-canvas {
  width: 620px;
  height: 620px;
  display: inline-block;
  margin-bottom: 30px;
 }
 .right-container{
   display: inline-block;
   width: 500px;
   height: 620px;
   overflow: scroll;
   margin: 0 50px;
   vertical-align: top;
   margin-bottom: 40px;
 }
.right-container-plist{
  background-color:#ffc425;
  text-align: center;
  padding: 8px 0px;
  font-size: 24px;
  font-family: Eagle, sans-serif;
 }
 .right-container p{
    margin: 0;
    font-size: 14px;
 }
 .right-container a{
   color: #000;
 }
 .right-container a:hover{
   color: #e31837;
 }
 .location-wrap{
   position:absolute;
   width: 500px;
   margin-top: -27px;
 }
 .single-result{
   margin-top: 60px;
 }
 .links{
   margin-top: 15px;
 }
 span.btn-container a.btn-color-184630.order-button{
   width: 160px;
   height: 41px;
   display:inline-block;
   font-family: Eagle, sans-serif;
   font-size: 12px;
   padding: 13px 31px 13px 31px;
   margin-top: 1px;
   margin-bottom: 1px;
   border-radius: 2px;
   white-space: pre-wrap;
   cursor: pointer;
 }
 hr{
   margin-bottom:-27px;
 }
 .marker-icon {
  display: inline-block;
  width: 38px;
  height: 60px;
  background: url("../images/icon_pin.png") top center; }
  .marker-icon:hover {
    background-position: bottom center; }
  .marker-icon b {
    text-align: center;
    position: relative;
    top: 11px;
    right: -9px;
    font-weight: bold; }

.site-content-locations{
    margin-top: -40px;
    text-align: center;
}
.location-main{
  font-family: "Eagle", sans-serif;
  color: #000;
  padding-bottom:25px;
}
#search{
  border: 2px solid #000000;
  display:table;
  margin: 0 auto;
}

#search, textarea{
  padding-left: 10px !important;
  width: 300px;
}

#masthead{
  opacity: 1;
  position: absolute;
  background-color: #f7f7f7;
}

#content{
  background-color: #fff;
  padding: 30px;
  margin: -60px 0 10px 0;
  margin-bottom: 0px;
}

#search-button{
  margin-top:30px;
  width: 120px;
}

@media (max-width: 960px){
  .map-canvas {
   width: 500px;
   height: 500px;
   display: inline-block;
   margin-bottom: 30px;
  }

  .right-container{
    overflow: visible;
    height: 100%;
    width:500px;
  }

  h3.right-container-plist{
    width: 500px;
  }
}


@media (max-width:570px) {

   .map-canvas {
    width: 300px;
    height: 300px;
    display: inline-block;
    margin-bottom: 30px;
   }
   .right-container{
     display: inline-block;
     height: 100%;
     width: 300px;
     margin-left: 0px;
     margin-right: 0px;
   }
   h3.right-container-plist{
     width: 300px;
   }

}
